<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
    
</p>
<p>
  <img src="<%= @test.image %>" class="rounded mx-auto d-block">
</p>
<p>
  <%= @test.name %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
