<!DOCTYPE html>
<html>
  <head>
    <title>PicUploader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,600,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="top-nav">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <div class="brand float-left">
          Random Picture Uploader
        </div>
        <div class="upload float-right">
          <%= link_to 'Upload a new Picture', new_test_path %>
        </div>
      </div>

      <br class="clear-fix" />
    </div>

    <%= yield %>
  </body>
</html>
